<h3 style="text-align: center">Tủ sách yêu thích</h3>
<app-search-book></app-search-book>
<a class="btn btn-success float-right" routerLink="create">Thêm một cuốn sách</a>
<h5>Có {{listBook.length}} cuốn sách</h5>
<table class="table table-bordered table-hover table-striped">
  <thead class="bg-primary text-light">
  <tr>
    <th>#</th>
    <th>Tiêu đề</th>
    <th>Tác giả</th>
    <th>Tác vụ</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of listBook; index as i">
    <td>{{i + 1}}</td>
    <td><a [routerLink]="['/books',book.id]">{{book.title}}</a></td>
    <td>{{book.author}}</td>
<!--    <td>-->
<!--      <a [routerLink]="['/books', 'edit', book.id]">Sửa</a> |-->
<!--      <a [routerLink]="['/books', 'delete', book.id]">Xóa</a>-->
<!--    </td>-->
    <td>
      <button [routerLink]="['/books', 'edit', book.id]" class="btn btn-info" style="margin-left: 10px">Sửa</button>
      <button [routerLink]="['/books', 'delete', book.id]" class="btn btn-danger" style="margin-left: 10px">Xóa</button>
    </td>
  </tr>
  </tbody>
</table>
